# Auto detect text files and perform LF normalization
* text=auto

# Force LF for scripts and config
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
*.woff2 binary
